{% load widget_tweaks %}


<div class="modal-header">
    <button type="button" id="close-modal-default" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span></button>
    <h3 class="box-title">Категория {% if category %} {{ category.name }} изменить {% else %} добавить {% endif %}</h3>

</div>
<form  action="{% if category %} {{ category.get_absolute_url }} {% else %}{% url "shop:create_category" %}{% endif %}" id="item-form" method="post" class="form-horizontal">
<div class="row">
    <div class="col-md-8">
   <div class="modal-body">

    {% for field in category_form %}

    <div class="form-group">
        <p style="color:red">{{ field.errors }}</p>
        <div class="col-sm-3">{{ field.label_tag }}</div>

        <div class="col-sm-8">{{ field|add_class:"form-control" }}</div>

    </div>
    {% endfor %}
    {% csrf_token %}
</div>

        </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success pull-left">Сохранить</button>
    {% if category %}
    <button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#modal-danger">
        Удалить
    </button>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title pull-left">Удалить {{ category.name }}</h4>
                </div>
                 <div class="modal-body">
                <p>Будут удалены все товары данной категории</p>
                 </div>
                <div class="modal-footer">
                    <a href="#">
                        <button type="button" class="btn btn-outline" data-dismiss="modal" id="delete-item" target-link="{{ category.get_delete_url }}" ">Удалить</button>
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endif %}

</div>
</form>