{% extends 't_base.html' %}
{% block title %}Форма смены пароля{% endblock %}

{% block content %}
<div class="row">
<h1>Смена пароля</h1>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
              <h3 class="box-title">Используйте форму ниже для смены пароля</h3>
        </div>

<form action="." method="post" role="form">

     {% for field in form %}
    <div class="form-group" >
        {% if field.errors %}
        <div style="color:red">
               {{ field.errors }}
        </div>
        {% endif %}
        <label for="id_{{field.name}}">{{field.label}}</label>
        <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" id="id_{{field.name}}" placeholder="{{field.label}}" >
    </div>
{% endfor %}
    {% csrf_token %}
     <p><input type="submit" class="btn btn-primary" value="Изменить"></p>


</form>
        </div>
</div>
</div>
{% endblock %}