{% extends 'adminlte/login.html' %}
{% block title %}Смена пароля{% endblcok %}

{% block logo_text %}Такси Статист{% endblock%}
{% block login_form %}
<h2>Смена пароля</h2>
<div class="col-md-6">
    <div class="box box-primary">
   {% if validlink %}
        <div class="box-header with-border">
              <h3 class="box-title">Введите новый пароль в форму ниже</h3>
        </div>

    <form action="." method="post" role="form">
      {% for field in form %}
      <div class="form-group" >
        {% if field.errors %}
        <div style="color:red">
               {{ field.errors }}
        </div>
        {% endif %}
        <label for="id_{{field.name}}">{{field.label}}</label>
        <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" id="id_{{field.name}}" placeholder="{{field.label}}" maxlength="100">
      </div>
     {% endfor %}
       {% csrf_token %}
      <p><input type="submit" class="btn btn-primary" value="Отправить"></p>
       </form>
     {% else %}
        <p>Ссылка на смену пароля не корректна, возможна она была уже использована</p>
        <p>Отправте новый <a href="{% url 'password_reset' %}">запрос на смену пароля</a></p>
     {% endif %}
        </div>
</div>

{% endblock %}