{% extends 'adminlte/login.html' %}
{% block title %}Востановление пароля{% endblock %}
{% block logo_text %}Такси Статист{% endblock%}
{% block login_form %}
<h3>Востановление пароля</h3>
<form action="." method="post" role="form">

     {% for field in form %}
    <div class="form-group" >
        {% if field.errors %}
        <div style="color:red">
               {{ field.errors }}
        </div>
        {% endif %}
        <label for="id_{{field.name}}">{{field.label}}</label>
        <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" id="id_{{field.name}}" placeholder="{{field.label}}" maxlength="100">
    </div>
{% endfor %}
    {% csrf_token %}
     <p><input type="submit" class="btn btn-primary" value="Отправить"></p>


</form>

{% endblock %}